<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="quartz">
            <directory>pkg/quartz/Tests</directory>
        </testsuite>
        <testsuite name="bridge">
            <directory>pkg/bridge/Tests</directory>
        </testsuite>
        <testsuite name="app">
            <directory>pkg/app/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
